/* 整个页面的容器 */
body {
    width: 950px;
    background-color: white;
    display: flex;
    margin: 0 auto;
    flex-direction: column; /* 垂直布局 */
    align-items: center; /* 水平居中 */
    justify-content: flex-start; /* 顶部对齐 */
}

.header {
    width: 950px;
    height: 174px;
    background: url("Images/logo.jpg");
    background-size: cover;
}

.navbar {
    width: 950px;
    background: url('./Images/bgdanghang3.png') no-repeat center center; /* 设置背景图片 */
    background-size: cover; /* 背景图片覆盖整个导航栏 */
    overflow: hidden; /* 清除浮动 */
    display: flex; /* 使用Flex布局 */
    justify-content: space-around; /* 导航项平均分布 */
    align-items: center; /* 垂直居中 */
}

/* 设置导航项的样式 */
.navbar a {
    color: white; /* 文字颜色为白色 */
    padding: 10px 10px; /* 文字周围的padding */
    text-decoration: none; /* 去除下划线 */
    transition: background-color 0.3s; /* 鼠标悬停时的背景色变化效果 */
}

/* 鼠标悬停时的样式 */
.navbar a:hover {
    color: black; /* 文字颜色 */
}

.content_1 {
    display: grid;
    text-align: center; /* 水平居中 */
    margin-top: 20px;
    margin-bottom: 20px;
    grid-template-columns:122px 122px 122px 122px 122px auto;
    gap: 22px; /* 设置列与列之间的间距 */
}

.content_1 p {
    margin-top: 10px;
    text-align: center;
}

.content_1 a {
    font-size: 20px;
    margin-top: 20px;
}

.content_1 a:hover {
    color: black;
}

.item1 {
    background: url("Images/bgc1.jpg");
    background-size: auto;
}

.item2 {
    background: url("Images/bgc2.jpg");
    background-size: auto;
}

.item3 {
    background: url("Images/bgc3.jpg");
    background-size: auto;
}

.item4 {
    background: url("Images/bgc4.jpg");
    background-size: auto;
}

.item5 {
    background: url("Images/bgc5.jpg");
    background-size: auto;
}

.item6 {
    background: url("Images/bggonggao.jpg");
    background-size: auto;
}

.item6 p {
    color: black; /* 假设背景较暗，使用白色文本 */
    padding: 20px; /* 添加内边距 */
    margin-top: 20px;
    text-align: justify; /* 文本两端对齐 */
    line-height: 1.6; /* 设置行高 */
    font-size: 14px; /* 设置字体大小 */
}

.content_2 {
    display: grid;
    margin-top: 20px;
    margin-bottom: 20px;
    grid-template-columns: repeat(1, 3.2fr) 1fr;
    gap: 22px; /* 设置列与列之间的间距 */
}

.item2_1 {
    background: url("Images/bggundong.jpg");
    background-size: cover;
    text-align: center; /* 水平居中 */
}

.item2_1 img {
    display: inline-block; /* 将图片设置为内联块级元素 */
    vertical-align: middle; /* 垂直居中 */
}

.item2_2 {
    background: url("Images/bgziyuan.jpg");
    background-size: cover;
    padding: 10px;
    display: flex; /* 设置为Flex容器 */
    flex-direction: column; /* 子元素垂直排列 */
    align-items: flex-start; /* 子元素在容器中水平靠左对齐 */
}

.item2_2 p {
    margin-top: 40px;
    margin-bottom: 10px; /* 在提示文本和表单元素之间添加一些间距 */
}

.item2_2 input[type="text"] {
    margin-bottom: 10px; /* 在输入框和按钮之间添加一些间距 */
}

.item2_2 button {
    align-self: flex-start; /* 按钮与输入框对齐 */
}

.databaseView {
    background: url("Images/bgshujuku.jpg");
    height: 138px;
    width: 930px;
    background-size: cover;
    display: flex;
    flex-direction: row;
    justify-content: space-around; /* 导航项平均分布 */
    align-items: center; /* 垂直居中 */
    padding: 20px; /* 四周添加一些内边距 */
}

.databaseView img{
    margin-top: 35px;
    max-width: 100%; /* 图片最大宽度为容器宽度 */
    height: auto; /* 保持图片的原始宽高比 */
}

.footer{
    width: 930px;
    background:url("Images/bgdanghang.jpg");
    background-size: cover;
    display: grid;
    text-align: center; /* 水平居中 */
    margin-top: 20px;
    margin-bottom: 20px;
    grid-template-columns:repeat(6, 1fr);
    gap: 22px; /* 设置列与列之间的间距 */
}

.footer p{
    gap:20px;
}